html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
       ========================================================================== */
  
  /**
     * Remove the margin in all browsers.
     */
  
  body {
    margin: 0;
  }
  
  /**
     * Render the `main` element consistently in IE.
     */
  
  main {
    display: block;
  }
  
  /**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
       ========================================================================== */
  
  /**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
       ========================================================================== */
  
  /**
     * Remove the gray background on active links in IE 10.
     */
  
  a {
    background-color: transparent;
  }
  
  /**
     * 1. Remove the bottom border in Chrome 57-
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
     * Add the correct font size in all browsers.
     */
  
  small {
    font-size: 80%;
  }
  
  /**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
       ========================================================================== */
  
  /**
     * Remove the border on images inside links in IE 10.
     */
  
  img {
    border-style: none;
  }
  
  /* Forms
       ========================================================================== */
  
  /**
     * 1. Change the font styles in all browsers.
     * 2. Remove the margin in Firefox and Safari.
     */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
     * Show the overflow in IE.
     * 1. Show the overflow in Edge.
     */
  
  button,
  input {
    /* 1 */
    overflow: visible;
  }
  
  /**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
  
  button,
  select {
    /* 1 */
    text-transform: none;
  }
  
  /**
     * Correct the inability to style clickable types in iOS and Safari.
     */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
     * Remove the inner border and padding in Firefox.
     */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
     * Restore the focus styles unset by the previous rule.
     */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
     * Correct the padding in Firefox.
     */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
     * Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
     * Remove the default vertical scrollbar in IE 10+.
     */
  
  textarea {
    overflow: auto;
  }
  
  /**
     * 1. Add the correct box sizing in IE 10.
     * 2. Remove the padding in IE 10.
     */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
     * Remove the inner padding in Chrome and Safari on macOS.
     */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
       ========================================================================== */
  
  /*
     * Add the correct display in Edge, IE 10+, and Firefox.
     */
  
  details {
    display: block;
  }
  
  /*
     * Add the correct display in all browsers.
     */
  
  summary {
    display: list-item;
  }
  
  /* Misc
       ========================================================================== */
  
  /**
     * Add the correct display in IE 10+.
     */
  
  template {
    display: none;
  }
  
  /**
     * Add the correct display in IE 10.
     */
  
  [hidden] {
    display: none;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	
	
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*GENERAL*/



body {
    font-family: Raleway;
    font-size: 15px ;
    min-height: 100vh;
    min-height: 100vh; 
        height: 100%;
        width: 100%;
        margin: 0;
}

.margediv{
    margin: 0 50px 0 50px;
}

.margediv2{
    margin: 0 80px 0 80px;
}

.marginL{
    margin-left: 30px;
}


.stars{
    color: blue;
}

.fontboldg{
    font-weight: bolder;
}

.Flexcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tailleliens{
    width: 45%;
}


.flexRow2{
display: flex;
flex-direction: row;

}

.colorliens{
    color: blue;
}

.colorA{

color: black;
}

.margeliens
{
    width: 27%;
    margin-right: 3%;
}

.decorationnone{
    text-decoration: none;
}



.margelien{
    width: 140px;
    height: 99px;
    margin-right: 0%;
}



.margeRECH2{
display: flex;
align-items: center;

}



.margebarredeR
{
    margin-top: 49px;
    margin-bottom: 54px;
}



/*HEADER*/



.bordursearch2{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #F2F2F2;
}

.Tailleicon{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}

.recherche{
    height: 50px;
    width: 250px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}


.backgroundG{
    background-color: #f2f2f2;
}

.bordurenone
{
    border: none;
}

.paddingsearch{
    padding-left: 20px;
}

.backbleue{
    background-color: blue;
}

.boutonsearch{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.margepos{
    margin: 16px 18px 16px 18px;
}

.margeRECH{
    margin: 18px 20px 20px 20px ;
}


.bordurefiltre{
    border: 1px solid #D9D9D9;
    border-radius: 30px 30px 30px 30px;
    width: 24px;
    height: 24px;
}

.margininté {
    color: blue;
    margin: 4px 0px 0px 9.6px;
}


.margeinfo{
    margin: 6px 0px 0px 7px;
}

.stars2{
    color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
}

.margenav
{
    width: 0%;
}

.bordurenav{
    border-top: 1px solid blue;
}

.marginleftlogo{
    margin: 0px 0px 0px 50px;
}



/*fin de correction*/

#research-input{
border: none;
height: 43px;
width: 100;
}

.fontboldi{
    font-weight: bolder;
}



.displayI{
    display:flex;
    flex-direction: row;
    
}

.flexHead {
display: flex;
justify-content: space-between;
align-items: center;
}

a {
text-decoration: none;
color: black;
}

a:hover{
    color: blue;
}



.logo{
    width: 92px;
    height: 31px;
    padding: 30px 0px 0px 0px;
}

.margeA{
    margin-right: 42.61px;
}

.marginH{
    margin-right: 69px;
}


.margerh2{
    margin-top: 60px;
    margin-bottom: 8px;
}

.margeinput{
    margin: 35px 0px 45px 0px;
}

.margindernier{
margin: 45px 0px 37.5px 0px;
}

#H{
    border-top: 1px solid blue;
    width: 113px;
    height: 2px;
}



/*sectionA*/
h3 {
    font-weight: bold;
}


.espaceR{
    margin-right: 20px;
}

.espaceB{
    margin-bottom: 30px;
}



.colorFiltre
{
    color: blue;
}

.BordeFiltre
{
    border-radius:25px;
    padding: 4px 19px 4px 19px;
}

.Flexcentre
{
    display: flex;
    align-items: center;
}

.margesectionA

{
margin: 30px 0px 30px 30px;
}



.espacecard{
margin: 4px 0px 8px 15px;

}

.espacestars
{
    margin-left: 15px;
}


.Rechercher{
    background-color: blue;
    width: 132px;
    height: 49px;
    border: 1px solid blue;
    border-radius: 0px 15px 15px 0px;
    margin: 14px 16px 14px 16px;
    text-align: center;
}

.textcenter{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}


.borderinput{
background-color: #FFFFFF;
border: 1px solid #F2F2F2;
border-radius: 20px;
width: 377px;
height: 49px;
border-width: 1px;
    
}

.position{
background-color: #F2F2F2;
width: 50px;
height: 49px;
border: 1px solid #F2F2F2;
border-radius: 15px 0px 0px 15px;

}

.textcenter2{
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.margintopFILTRE{
margin-top: 13px;
}


.conteneur1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 100%;
    margin-left: 33px;
}

.conteneur2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 100%;
    margin-left: 33px;

}



/*sectionB*/

.conteneur{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height:auto;
    
}
.card2:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.card {
    width: 100%;
    height: 207.25px;
    background: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}

.card2 {
    width: 100%;
    height: 207.25px;
    background: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}

.background1{
    
background: #f2f2f2;
width: 100% ;

border-radius: 15px;


}

.imagesSectionA{
width: 100%;
height: 124px;
border-radius: 20px 20px 0px 0px;
object-fit: cover;
}

.containeur{
    display: flex;
    align-items: center;
}

.marginL{
    margin-left: 40px;
}

.flexstart
{
    display: flex;
    justify-content: start;
}

.borderfiltre:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #f3f8ff ;
}



.borderfiltre{
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}


.marginfiltre{
    margin-right: 5px;
}


.flexpopu{
    display: flex;
    justify-content: space-between;
}


/*sectionB*/



.flexpopu{
    
}

.margepopu{
    margin-right: 31px ;
    margin-top: 6px;
    color: blue;
}


.imagesectionB
{
    width: 100%;
    height: 135px;
    border-radius: 20px 0px 0px 20px;
    border-width: 5px 0px 5px 5px;
    object-fit: cover;
}

.Borderwidht{
    margin: 5px 0px 20px 5px;
}



.Backpopulaire{
    background-color: #F2F2F2 ;
    width: 429px;
    height: 611.5px;
    border-radius: 15px;

}

.backcard
{
    background-color: #FFFFFF;
    width: 87%;
    height: 144px;
    border-radius: 20px;
    
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.flexcolumn{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
}

.centre{
    justify-content: center;
    align-items: center;
    width: 50%;
}

.flexdeux{
    display: flex;
    justify-content: space-around;
}

.margin2:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.margin2{
margin: 0px 30px 30px 30px;

}

.margin3{
    margin-top: 30px;
}


.marginsectionB{
margin-left: 30px;
}

.margintop{
    margin-top: 30px;
}



.marginlespluspopu{
    margin: 15px 5px 15px 15px;
}

.marginendessous{
    margin: -69.5px 0px 0px 15px;
    width: 100%;
}


.margindessous2{
    margin: -52px 0px 0px 15px;
    width: 100%;
}


.margeétoile{
    margin-top: -10px;
}

.flexpopulaire{
    
}


.margingauche{

margin-left: 15px;
}

.margeétoile2{
    margin-bottom: 10px;
}

.stars3{
    margin-left: 0px;
}

.margepopulaire{
    margin-bottom: 20px;
}

/*SectionC*/

.imagesectionC {
    width: 100%;
    height: 380px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}


.largeurimgA{
    width: 70%;
    height: 380px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}


.conteneurC
{
    display: flex;
    justify-content: flex-start;
    width: 103.5%;
}

.borderActivités:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.borderActivités{
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px #D9D9D9



}


.marginbot{
    margin-bottom: 30px;
}



.cardsectionc{
background: none;
border-radius:0px 0px 20px 20px ;
width: 100%;
height: 59px;
margin-top: 0px;
}



.margecard{
    margin: 20px 19px 20px 19px;
    width: 80%;
}



.displaycard{
    display: flex;
    align-items: start;
    
}

.margesec3{
    margin-right: 30px;
}


/*footer*/

.conteneurFooter
{
    display: flex;
    flex-direction: row;
    
    align-items: center;
}


.backgroundfooter{
background: #F2F2F2;
width: 100%;
height: 163px;
}

.fontbold{
    font-weight: 700;
}

.marginTopFooter
{
    margin-top: 65px;
}

.marginbotfooter{

    margin-bottom: 15px;
}
b
.marginleftfooter{
    margin-left: 20px;
    margin-right: auto;
}




.marginbotfooter2{
    margin-bottom: 22px;
    width: 33.3%;
}

.marginleft2{
    margin-left: 20px;
    width: 33.3%;
}


.logocentre{
    margin-top: 30px;
}

.flexnav2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.alignement{
    display: inline-block;
}


.Filtre1{
    display: flex;
    flex-direction: row;
   
}

.Filtre2{
    display: flex;
    flex-direction: row;
}


.bloc{
    width: 87%;
}

.bloc2{
    width: 87%;
}



/*Media queries*/

@media screen and (max-width: 1024px)
{

      
    
      
        /* Modifier le texte pour Auberge La Canebière */
        .Popu1 h3.marginlespluspopu {
          content: "Hôtel Le soleil du matin";
        }
      
        /* Modifier le texte pour Chambre d'hôtes Au coeur de l'eau */
        .marginlespluspopu + p.margindessous2 {
          content: "Nuit à partir de 99€";
        }
      
        /* Modifier le texte pour Hôtel Bleu et Blanc */
        .marginlespluspopu ~ p.marginendessous {
          content: "Nuit à partir de 79€";
        }
      



  
    h3 {
        font-weight: bold;
       
    }


    
    .containeur {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .Backpopulaire {
        width: 100%;
        height: 100%;
        margin-top: 50px;
        padding-bottom: 20px;
    
    }

    .cardPOPU{
        display: flex;
        flex-direction: row;

    }
    
    .conteneur {
       flex-wrap: none;
       justify-content: center;
    
}

.flexpopu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.margin2der{
    margin-top: 29.5px;
}

.margeicone{
    margin-right: 37px;
}

.conteneur1{
    width: 95%;
    height: none;
    margin-left: 33px;
}

.conteneur2{
    width: 95%;
    height: none;
    margin-left: 33px;
}

.card{
    box-shadow: 0px 3px 15px rgb(0 0 0 / 10%);
}

.espaceB2 {
    margin-bottom: ;
}



.card2 {
    width: 100%;
    height: 207.25px;
    background: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 15px rgb(0 0 0 / 10%);
    margin-bottom: ;
}



.marginendessous {
    margin: -10px 0px 36px 15px;
    width: 90%;
}


.margindessous2 {
    margin: -45px 0px 0px 15px;
    width: 90%;

}


.imagesectionB {
    width: 80%;
    height: 146px;
    border-radius: 20px 0px 0px 20px;
    border-width: 6px;
    padding: 2px 0px 2px 2px;
}

.backcard {
    background-color: #FFFFFF;
    width: 274.67px;
    height: 160px;
    border-radius: 20px;
}

.étoilemarge{
    display: flex;
    justify-content: flex-end;
    margin-top: px;
}

.marginlespluspopu {
    margin: 15px 0px 10px 15px;
}


.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left: -19px;
}

.displaystars{
margin-top: -30px;

}

.cardsectionc {
    background: none;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height: 70px;
    margin-top: 0px;
}

.imagesectionC {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
}


.imagesectionC1 {
    background-image: url(./images/activites/reno-laithienne.jpg) ;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
}


.displaystars{
    display: flex;
    justify-content: flex-end;
}



.backgroundfooter {
    background: #F2F2F2;
    width: 100%;
    height: 163px;
}

.marginleftfooter {
    margin-left: 20px;
    margin-right: auto;
}

.marginrightfooter {
    margin-right: auto;
    margin-left: 0px;
}


.background1 {
    background: #f2f2f2;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-left: 40PX;
}

.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.marginbotfooter2 {
    margin-bottom: 22px;
    width: 80%;
}

.marginleftfooter {
    margin-left: 20px;
    width: 80%;
}


.marginseul{


}


}




@media screen and (min-width: 1450px) {
    body {
      margin: 0 auto;
      max-width: 1450px;
    }
  }
    
  @media screen and (min-width: 768px) {
    .stars3 {
      margin-left: -3px;
    }
  }


  @media screen and (max-width: 1198px) {
    .marginendessous {
        margin: -60px 0px 0px 15px;
        width: 80%;
    }
  }

  @media screen and (max-width: 845px) {
    .marginendessous {
        margin: -50px 0px 0px 15px;
        width: 80%;
    }
  }

  @media screen and (max-width: 794px) {
    .marginendessous {
        margin: -30px 0px 0px 15px;
        width: 80%;
    }
  }


/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {


    .marginTopFooter {
        margin-top: 115px;
    }

    .filtre3{
        margin-right: ;
    }

    body {
        width: 100%;
        padding: 0;
        margin: 0;
      }

      .marginleftlogo {
        margin: 30px 0px 0px;
    }

      .margesectionA {
        margin: 30px 0px 30px 10px;
    }

    html,
    body {
    height: 100%;
    }
 

    .Tailleicon {
        height: 50px;
        width: 15%;
        border-radius: 10px 0 0 10px;
        display: flex;
        justify-content: center;
    }


    .boutonsearch {
        width: 15%;
        height: 49px;
        color: white;
        cursor: pointer;
        border-radius: 15px;
    }

    .recherche {
        height: 50px;
        width: 100%;
        font-size: 18px;
        color: black;
        font-weight: bold;
    }


      .margesec3{
        margin-right: 0px;
    }

      

      .backgroundfooter {
        background: #F2F2F2;
        width: 375px;
        height: 461px;
    }

    .conteneurFooter {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        width: 100%;
    }

    .marginseul {
        margin-left: 20px;
    }


    .margeplus{
    margin-top: -5px;

    }

    .marginendessous {
        margin: -50px 0px 36px 15px;
        width: 90%;
    }

    .margindessous2 {
        margin: -80px 0px 0px 15px;
        width: 100%;
    }

    .card {
        box-shadow: 0px 3px 15px rgb(0 0 0 / 10%);
        width: 93%;
        margin-bottom: 30px;
    }

    .backcard {
        background-color: #FFFFFF;
        width: 90%;
        height: 160px;
        border-radius: 20px;
    }

    .espaceR {
        margin-right: 0px;
    }

    .card2 {
        width: 93%;
        height: 207.25px;
        background: #FFFFFF;
        border: 5px solid #FFFFFF;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 3px 15px rgb(0 0 0 / 10%);
        margin-bottom: 30px;
    }

    .imagesSectionA {
        width: 100%;
        height: 124px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .marginrightfooter {
        margin-right: auto;
        margin-left: 20px;
    }

    .marginleftfooter {
        margin-left: 20px;
        width: 80%;
    }
    
    .conteneurC {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: auto;
    }

    .imagesectionC {
        width: 100%;
        height: 141px;
        border-radius: 15px 15px 0px 0px;
    }

    .cardsectionc {
        background: none;
        border-radius: 0px 0px 20px 20px;
        width: 100%;
        height: 59px;
        margin-top: 0px;
    }


    .marginbotmobile{
        margin-bottom: 15px;
    }

    .borderActivités {
        border-radius: 15px;
        box-shadow: 5px 5px 15px 5px #d9d9d9;
        width: 100%;
    }
    


    .containeur {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    
    .background1 {
        background: none;
        width: 100%;
        height: 611.5px;
        border-radius: 15px;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 950px;
    }

    .conteneur1 {
        width: 95%;
        height: none;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        
    }

   .margegauche{
    margin-left: 10px;
   }

    .conteneur2 {
        width: 95%;
        height: none;
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }

    .logocentre{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .flexnav{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        width: 100%;
    }

    .borderbottom{
        border-bottom: 2px solid #F2F2F2;
        width: 100%;
    }

    .borderbottom2{
        border-bottom: 2px solid #F2F2F2;
        width: 100%;
    }

    .borderbottom:hover{
        border-bottom: 2px solid blue;
        width: 100%;
        color: blue;
    }

    .borderbottom2:hover{
        border-bottom: 2px solid blue;
        width: 100%;
        color: blue;
    }

    .boutonsearch {
        width: 24%;
        height: 49px;
        color: white;
        cursor: pointer;
        border-radius: 15px;
      }

      .bordursearch2 {
        width: 75%;
        border-radius: 10px;
        border: 0.5px solid #F2F2F2;
    }

    .searchloupe{
        margin: 17px 0px 0px 0px;
    }



    .flexBetween {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      
      .bordurenav {
        border-bottom: none;
        margin-right: ;
        width: 100%;
        border-top: none;
      }
      
      .decorationnone {
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      
      .bordermobile {
        border-bottom: 2px solid #f2f2f2;
        width: 100%;
        
      }

      .bordermobile2 {
        border-bottom: 2px solid #F2F2F2;
        width: 100%;
    }
     
    
    .bordermobile:hover {
        border-bottom: 2px solid blue;
        width: 100%;
        
      }


      .bordermobile2:hover {
        border-bottom: 2px solid blue;
        width: 100%;
    }

    .colorlienspe:hover a{
        color: blue;
    }
      
      
      .logoContainer {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
      }

      .borderfiltre {
        border: 2px solid #F2F2F2;
        border-radius: 20px;
        padding: 10px 10px 10px 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-right: 10px;
    }


    .displayI {
        display: flex;
        flex-direction: column;
    }

    .Filtre1{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        width: 100%;
    }

    .Filtre2{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .margintopFILTRE {
        margin-top: none;
        margin-bottom: 20px;
        width: 100%;
    }



    .Backpopulaire {
        width: 924px;
        height: 252px;
        margin-top: 20px;
        padding-bottom: 20px;
    }


    .margeinfo {
        margin: 6px 0px 0px 7px;
        width: 100%;
    }

    .Backpopulaire {
        width: 100%;
        height: 569px;
        margin-top: 20px;
        padding-bottom: 20px;
        background-color: #F2F2F2;
    }

    .backgroundmobile{
    background-color:  #F2F2F2;
    width:60%;
    height: 700px;
    margin-left: 0px;
    }

    .backgroundmobile {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }

      .backgroundmobile {
        margin-left: 0px;
        width: 100%;
      }

    .displaymobile{
        display: flex;
        justify-content: flex-start;
    }
    
    
    .cardPOPU {
        display: flex;
        flex-direction: column;
        
    }

    .margediv {
        margin: 0px 0px 0px 0px;
    }

    .margemobile{
        margin: 0px 0px 0px 20px;
    }
      
      /* Ajoutez les règles pour la configuration au-dessus de 768px ici */
      
      @media (max-width: 768px) {
        .flexBetween {
          display: block;
        }
        
       
            .flexAround {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
            }
         
      }
      
      
    
}



@media (max-width: 913px) {
    .margindessous2 {
        margin: -30px 0px 0px 15px;
        width: 90%;
    }

}

@media (max-width: 768px) {
    .margindessous2 {
        margin: -80px 0px 0px 15px;
        width: 90%;
    }
    
}

@media (max-width: 506px) {
    .margindessous2 {
        margin: -60px 0px 0px 15px;
        width: 90%;
    }
}



@media (max-width: 302px) {
    .margindessous2 {
        margin: -30px 0px 0px 15px;
        width: 90%;
    }

}

@media (max-width: 291px) {
    .marginendessous {
        margin: -10px 0px 36px 15px;
        width: 90%;
    }

}

@media (max-width: 367px) {
    .marginendessous {
        margin: -30px 0px 36px 15px;
        width: 90%;
    }

}

@media (max-width: 235px) {
    .marginendessous {
        margin: -10px 0px 36px 15px;
        width: 90%;
    }

}

@media (max-width: 282px) {
    .Filtre1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        width: 100%;
    }

    .Filtre2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .borderfiltre {
        border: 2px solid #F2F2F2;
        border-radius: 20px;
        margin-bottom: 10px;
        padding: 10px 10px 10px 10px;
        width: 60%;
        display: flex;
        justify-content: flex-start;
    }

}


  
  @media (max-width: 768px) {

    .margediv2 {
        margin-left: auto;
        margin-right: auto;
      }

    .margediv2 {
      margin-left: 30px;
    }

  }





    @media (max-width: 768px) {
        .margeRECH {
          display: none;
        }
        
        .boutonsearch i {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .conteneurrecherche{
            width: 100%;
        }
      }
      
      @media (min-width: 769px) {
        .boutonsearch i {
          display: none;
        }

        .backicone{
            display: flex;
            justify-content: center;
            align-items: center;

        }


        

      }
      

      
        
      @media (min-width: 768px) {
        .colorliens {
            color: black;
        }
        
        .colorliens:hover {
            color: blue;
        }
        
        .bordurenav {
            border-top: 1px solid white;
        }

        .bordurenav:hover {
            border-top: 1px solid blue;
            text-decoration: blue;
        }

        .colorlienspe:hover a{
            color: blue;
        }

      }


      @media (max-width: 768px) {
        .colorliens {
            color: black;
        }
        
        .colorliens:hover {
            color: blue;
        }

        .margesectionA{
            margin-left: 30px;
        }

    }

    @media screen and (max-width: 1044px){
    .marginendessous {
    margin: -50px 0px 0px 15px;
    width: 80%;
    }
    }

    @media screen and (max-width: 768PX){
        .marginendessous {
        margin: -80px 0px 0px 15px;
        width: 80%;
        }
        }

        @media screen and (max-width: 280px){
            .marginendessous {
            margin: -50px 0px 0px 15px;
            width: 80%;
            }
            }


          



    @media screen and (max-width: 191px){

    .marginendessous {
    margin: -30px 0px 0px 15px;
    width: 80%;
}

}

@media (max-width: 768px)
{
    .margindessous2 {
    margin: -75px 0px 0px 15px;
    width: 90%;
}

.conteneurC {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: -2px;
}

}

@media (max-width: 269px)
{
    .margindessous2 {
    margin: -50px 0px 0px 15px;
    width: 90%;
}

}

@media (max-width: 234px)
{
    .margindessous2 {
    margin: -30px 0px 0px 15px;
    width: 90%;
}

}


@media screen and (max-width: 1044px){
.marginendessous {
    margin: -30px 0px 0px 15px;
    width: 80%;
}

}





    


        @media screen and (max-width: 768px){
            .marginendessous {
                margin: -75px 0px 0px 15px;
                width: 80%;
            }
            }

            @media screen and (max-width: 285px){
                .marginendessous {
                    margin: -55px 0px 0px 15px;
                    width: 80%;
                }
                }

                @media screen and (max-width: 210px){
                    .marginendessous {
                        margin: -35px 0px 0px 15px;
                        width: 80%;
                    }
                    }